*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noa{
  text-decoration: none;
  color: black;
}

.reducirImg{
  max-width: 50%;
  width: 50%;
}

.icon{
  width: 15px;
}

.hamMenu{
  display: none;
}

.redesLista{
  list-style: none;
}

.redesLista li a{
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}

.redesLista{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: brown;
}

nav{
  background-color: #681a5d;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item{
  padding: 15px;
  background-color: #681a5d;
  max-width: 15%;
  list-style: none;
}

.menu-item a{
  color: white;
}

.menu-item:hover{
  background-color: #57167e;
}

.menu-item:hover a{
  color: white;
}

.contenedor{
  display: flex;
  flex-flow: row nowrap;
}

.filtros{
  flex-basis: 27%;
  background-color: aqua;
}

.listaProductos{
  flex-basis: 77%;
  background-color: yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}