:root{
  --backgrouncolor-caja : #f4f4f4;
  --backgrouncolor-secundario : #6e6e79;
  --fuente-titulo-general: 25px;
  --margin-standard : 25px;
  --primary-color : #681a5d;
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.noa{
  text-decoration: none;
  color: black;
}

.reducirImg{
  max-width: 50%;
  width: 50%;
}

.icon{
  width: 15px;
}

.hamMenu{
  display: none;
}

.redesLista{
  list-style: none;
}

.redesLista li a{
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: black;
  font-size: var(--fuente-titulo-general);
}

.redesLista{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--backgrouncolor-caja);
}

nav{
  background-color: var(--primary-color);
}

.menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item{
  padding: 15px;
  background-color: #681a5d;
  max-width: 15%;
  list-style: none;
}

.menu-item a{
  color: white;
}

.menu-item:hover{
  background-color: #57167e;
}

.menu-item:hover a{
  color: white;
}

.contenedor{
  display: flex;
  flex-flow: row nowrap;
}

.filtros{
  flex-basis: 27%;
  background-color: var(--backgrouncolor-caja);
}

.btn{
  padding: var(--margin-standard);
  margin-top: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: #f4f4f4;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.btn:hover{
  background-color: #57167e;
}

.listaProductos{
  flex-basis: 77%;
  background-color: var(--backgrouncolor-caja);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.filtroActivo{
  width:100%;
  height: auto;
  background-color: var(--backgrouncolor-secundario);
}

.filtroActivo h4{
  margin: var(--margin-standard);
}

footer{
  display: flex;
  background-color: var(--backgrouncolor-caja);
  justify-content: center;
}

footer h6{
  font-size: var(--fuente-titulo-general);
}

#frmProducto{
  width: 100%;
}

#frmProducto fieldset{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.imgProducto{
  width: 75%;
}

#renderProductos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pDesc{
  max-width: 100%;
}

.producto{
  width: 24%;
}