body { background-color: bisque;

    }
p {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
 
ul li a{ color: blue;
        text-decoration: none;
        letter-spacing: 5px;

    }

    img { height: 150px;
          width: 100px;

    }